    <app-head></app-head>
    <div fxLayout="column">
        <div id="left-feature">
            <div fxFlex="50%">

            <app-left-hero></app-left-hero>
            </div>
        </div>
    </div>
    <div fxLayout="column">
        <div fxLayoutAlign="end center">
           
       <div id="right-feature">
        <app-right-hero></app-right-hero>
        </div>
        </div>
        </div>

    <app-middle></app-middle>
<app-contact-section></app-contact-section>
       
    <div fxFlexFill>
        <div id="footer">
    <app-footer></app-footer>
    </div>
    </div>
    

