<div fxLayout="column">
    <div id="left-feature">
        <div *ngIf="isSmall; then fullWidth else halfWidth"></div>
    <ng-template #halfWidth>
        <div fxFlex="50%">  
            <app-left-hero></app-left-hero>
        </div>
    </ng-template>
    <ng-template #fullWidth>
        <div fxFlexFill> 
            <app-left-hero></app-left-hero>
        </div>
    </ng-template>
       

      
    </div>
</div>
<div fxLayout="column">
    <div fxLayoutAlign="end center">
       
   <div id="right-feature">

    <app-right-hero *ngIf="!isSmall"></app-right-hero>
    </div>
    </div>
    </div>
    <div>
<app-middle></app-middle></div>

<app-contact-section></app-contact-section>
   
<div fxFlexFill>
    <div id="footer">
<app-footer></app-footer>
</div>
</div>